// element-plus 样式覆盖

:root {
}

// 黑色主题
.theme--dark {
  --el-color-primary: #030303;
  --el-color-primary-light-3: #030303;
  --el-color-primary-light-9: #ffffff;
  --el-color-primary-light-7: #dcdfe6;
  --el-menu-base-level-padding: 13px;
  --el-border-radius-base: 20px;
}

// 蓝色主题
.theme--blue {
  --el-color-primary: #006eff;
  --el-border-radius-base: 0;
}

.el-table {
  --el-table-header-bg-color: #fafafa;
}

// 表格排序图标
.el-table .caret-wrapper {
  margin-left: 4px;
  width: 10px;
}

.el-table .sort-caret {
  left: 0;
}

// 单元格边距
.el-table .cell {
  padding: 0 8px;
}
